*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 78em) {
    html {
      font-size: 50%; } }

body {
  color: #000;
  font-weight: 300; }

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 20rem 5fr 3fr;
  grid-template-rows: 8rem 8fr; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: 6rem 5fr 3fr;
      grid-template-rows: 8rem 8fr; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-columns: 6rem 5fr;
      grid-template-rows: 14rem 8fr 6fr; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      display: flex;
      flex-direction: column; } }

.heading-1 {
  font-size: 2.4rem;
  font-family: sans-serif;
  color: #000; }

.heading-2 {
  font-size: 2.2rem;
  font-family: sans-serif;
  color: #3FA736; }

.heading-3 {
  font-size: 1.4rem;
  font-family: sans-serif;
  color: #3FA736; }

.header {
  background-color: #fbfbfb;
  grid-column: 2 / span 2;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-column: 2 / span 2;
      padding: 2rem 4rem;
      display: flex;
      flex-direction: column;
      align-items: start; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      display: flex;
      flex-direction: column;
      gap: 2rem; } }
  .header__box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; }
    .header__box-sold {
      font-size: 1.2rem;
      font-family: sans-serif;
      color: #7f7f7f; }
  .header__container {
    display: flex;
    gap: 8rem; }
    @media only screen and (max-width: 50em) {
      .header__container {
        display: flex;
        justify-content: space-between;
        width: 100%; } }
    @media only screen and (max-width: 31em) {
      .header__container {
        display: flex;
        flex-direction: column;
        gap: 2rem; } }
  .header__form {
    display: flex;
    align-items: center;
    margin-left: 1rem; }
    .header__form-btn {
      border: none;
      background-color: lightgrey; }
      .header__form-btn:focus {
        outline: none; }
      .header__form-btn:active {
        transform: translateY(2px); }
    .header__form-icon, .header__form-opt {
      height: 1.8rem;
      width: 1.8rem;
      color: grey; }
    .header__form-input {
      font-family: sans-serif;
      font-size: 1.1rem;
      color: #000;
      background-color: #fff;
      border: none;
      padding: 1.2rem 0.8rem 1.2rem 3.5rem;
      border-radius: 10px;
      width: 28rem;
      transition: all .2s;
      margin-left: -3rem;
      margin-right: -3rem; }
      .header__form-input::-webkit-input-placeholder {
        font-weight: 100;
        color: grey; }
      @media only screen and (max-width: 62.5em) {
        .header__form-input {
          width: 35rem; } }
      @media only screen and (max-width: 50em) {
        .header__form-input {
          width: 35rem; } }
      @media only screen and (max-width: 31em) {
        .header__form-input {
          width: 100%; } }
  .header__content {
    display: flex;
    gap: 1rem; }
    @media only screen and (max-width: 31em) {
      .header__content {
        justify-content: end; } }
  .header__msg, .header__not {
    height: 1.8rem;
    width: 1.8rem;
    background-color: #fff;
    box-shadow: 0 1.5rem 1.1rem rgba(0, 0, 0, 0.2);
    padding: 0.8rem;
    border-radius: 10px; }
  .header__not::before {
    content: "";
    background-color: #ff0000;
    height: 0.6rem;
    width: 0.6rem;
    position: absolute;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: 0.2rem; }
  .header__img {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 10px;
    box-shadow: 0 1.5rem 1.1rem rgba(0, 0, 0, 0.2);
    margin-left: 0.6rem; }

.listings {
  background-color: #fbfbfb;
  padding: 2rem 4rem; }
  @media only screen and (max-width: 50em) {
    .listings {
      grid-column: 2 / span 1; } }
  .listings__box {
    background-image: url(../img/hiro.jpg.jpg);
    background-size: cover;
    opacity: 0.9;
    box-shadow: 0.8rem 1.5rem 3.1rem rgba(0, 0, 0, 0.2);
    padding: 3rem 3rem;
    border-radius: 8px;
    margin-bottom: 5.6rem;
    height: 23.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 62.5em) {
      .listings__box {
        height: 19.5%; } }
    @media only screen and (max-width: 50em) {
      .listings__box {
        height: 28%; } }
    @media only screen and (max-width: 31em) {
      .listings__box {
        height: 15%; } }
    .listings__box-text {
      display: flex;
      flex-direction: column;
      gap: 0.6rem; }
    .listings__box-sold {
      font-size: 1.4rem;
      font-family: sans-serif;
      color: #41833c; }
  .listings__btn {
    display: flex;
    gap: 1rem;
    margin: 2rem 0 0 0; }
    .listings__btn-1 {
      border: none;
      background-color: #fff;
      border-radius: 8px;
      padding: 1rem 1.8rem;
      color: #3FA736;
      font-size: 1.1rem;
      font-family: sans-serif;
      font-weight: 600; }
    .listings__btn-2 {
      border: 1px solid #fff;
      padding: 1rem 1.8rem;
      border-radius: 8px;
      background-color: transparent;
      color: #fff;
      font-size: 1.1rem;
      font-family: sans-serif;
      font-weight: 600; }
  .listings__view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem; }
    .listings__view-link {
      text-decoration: none;
      font-size: 1rem;
      font-family: sans-serif;
      font-weight: 600;
      color: #999999; }

.plant {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem; }
  @media only screen and (max-width: 31em) {
    .plant {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .plant__box {
    background-color: #fff;
    padding: 2rem 2rem 1.5rem 2rem;
    border-radius: 8px;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center; }
    @media only screen and (max-width: 31em) {
      .plant__box {
        width: 100%; } }
    .plant__box:hover, .plant__box:active {
      box-shadow: 0.8rem 1.5rem 3.1rem rgba(0, 0, 0, 0.2); }
    .plant__box-img {
      height: 15rem;
      width: 14rem;
      margin-bottom: 1rem; }
      @media only screen and (max-width: 31em) {
        .plant__box-img {
          height: 17rem;
          width: 16rem; } }
    .plant__box-img1 {
      height: 15rem;
      width: 14rem;
      margin-bottom: 1rem;
      margin-top: 0.6rem; }
      @media only screen and (max-width: 31em) {
        .plant__box-img1 {
          height: 17rem;
          width: 16rem; } }
    .plant__box-text {
      font-size: 1.2rem;
      font-family: sans-serif;
      color: #000; }
    .plant__box-text1 {
      font-size: 1.2rem;
      font-family: sans-serif;
      color: #000; }
    .plant__box-btn {
      border: none;
      background-color: #fff;
      box-shadow: 0 1.5rem 1.1rem rgba(0, 0, 0, 0.2);
      padding: 0.4rem;
      margin-right: -1rem;
      border-radius: 5px;
      margin-left: auto;
      display: flex; }
    .plant__box-icon {
      height: 1.4rem;
      width: 1.4rem;
      padding-top: 0.2rem; }
  .plant__box1 {
    background-color: #fff;
    padding: 0.4rem 2rem 1.5rem 2rem;
    border-radius: 10px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 31em) {
      .plant__box1 {
        width: 100%; } }
    .plant__box1:hover, .plant__box1:active {
      box-shadow: 0.8rem 1.5rem 3.1rem rgba(0, 0, 0, 0.2); }

.seller {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 3rem;
  margin-top: 5rem;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 31em) {
    .seller {
      display: flex;
      flex-direction: column; } }
  .seller__box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
    .seller__box-view {
      display: flex;
      justify-content: space-between;
      align-items: center; }
  .seller__sell {
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 8px;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    box-shadow: 0.8rem 1.5rem 3.1rem rgba(0, 0, 0, 0.2); }
    .seller__sell-box {
      display: flex; }
    .seller__sell-img {
      height: 2.8rem;
      width: 2.8rem;
      border-radius: 50%;
      margin-left: -5px;
      border: 2px solid #fff; }
    .seller__sell-text {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      border-left: 2px solid aquamarine; }
    .seller__sell-sold {
      font-size: 1.2rem;
      font-family: sans-serif;
      font-weight: 600;
      margin-left: 1rem;
      color: #4d4d4d; }
  .seller__text {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem; }
    .seller__text-sold, .seller__text-sold-1 {
      font-size: 1.2rem;
      font-family: sans-serif;
      color: #737373; }

.sidebar {
  background-color: #fff;
  grid-row: 1 / span 2;
  padding: 2rem;
  border-right: 1px solid #a9a9a9; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media only screen and (max-width: 50em) {
    .sidebar {
      grid-row: 1 / span 3;
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media only screen and (max-width: 37.5em) {
    .sidebar {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      border-bottom: 1px solid #a9a9a9; } }
  @media only screen and (max-width: 31em) {
    .sidebar {
      display: flex;
      justify-content: space-between; } }
  .sidebar__logo {
    display: flex;
    gap: 1rem;
    align-items: center; }
    .sidebar__logo-btn {
      border: none;
      background-color: rgba(128, 128, 128, 0.1);
      height: 3.4rem;
      width: 3.4rem;
      border-radius: 10px; }
    .sidebar__logo-menu {
      height: 2.2rem;
      width: 2.2rem;
      padding-top: 0.2rem;
      color: #3FA736; }
  .sidebar__heading {
    font-size: 2.2rem;
    font-family: sans-serif;
    color: #3FA736; }
    @media only screen and (max-width: 62.5em) {
      .sidebar__heading {
        display: none; } }
  .sidebar__navigation {
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 50em) {
      .sidebar__navigation {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0; } }
    @media only screen and (max-width: 37.5em) {
      .sidebar__navigation {
        display: flex;
        flex-direction: row;
        gap: 3rem; } }
  .sidebar__main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 0 3rem 0; }
    @media only screen and (max-width: 37.5em) {
      .sidebar__main {
        display: flex;
        flex-direction: row;
        padding: 0; } }
    .sidebar__main-item {
      display: flex;
      gap: 1rem;
      align-items: center;
      list-style: none;
      position: relative; }
      .sidebar__main-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: -2rem;
        height: 100%;
        width: 3px;
        background-color: #3FA736;
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
      .sidebar__main-item:hover::before, .sidebar__main-item:active::before {
        transform: scaleY(2);
        width: 3px; }
    .sidebar__main-icon {
      height: 1.8rem;
      width: 1.8rem;
      color: #545454;
      z-index: 10; }
    .sidebar__main-link {
      text-decoration: none;
      font-size: 1.2rem;
      font-family: sans-serif;
      color: #7f7f7f;
      z-index: 10; }
      @media only screen and (max-width: 62.5em) {
        .sidebar__main-link {
          display: none; } }
  .sidebar__header {
    font-size: 1.2rem;
    font-family: sans-serif;
    text-transform: uppercase; }
    @media only screen and (max-width: 62.5em) {
      .sidebar__header {
        display: none; } }
  .sidebar__nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0; }
    @media only screen and (max-width: 37.5em) {
      .sidebar__nav {
        display: flex;
        flex-direction: row;
        padding: 0;
        gap: 3rem; } }
    @media only screen and (max-width: 31em) {
      .sidebar__nav {
        display: none; } }
    .sidebar__nav-item {
      display: flex;
      gap: 1rem;
      align-items: center;
      position: relative; }
      .sidebar__nav-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: -2rem;
        height: 100%;
        width: 3px;
        background-color: #3FA736;
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
      .sidebar__nav-item:hover::before, .sidebar__nav-item:active::before {
        transform: scaleY(2);
        width: 3px; }
    .sidebar__nav-icon {
      height: 1.8rem;
      width: 1.8rem;
      color: #545454; }
    .sidebar__nav-link {
      text-decoration: none;
      font-size: 1.2rem;
      font-family: sans-serif;
      color: #7f7f7f; }
      @media only screen and (max-width: 62.5em) {
        .sidebar__nav-link {
          display: none; } }
  .sidebar__help {
    box-sizing: border-box;
    background-color: #69b163;
    border-radius: 6px;
    box-shadow: 0.4rem 1rem 2.5rem -1.4rem rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem  0 1.4rem 0; }
    @media only screen and (max-width: 62.5em) {
      .sidebar__help {
        display: none; } }
    .sidebar__help-btn {
      border: 11px solid #fff;
      background-color: #69b163;
      box-shadow: 0 1.5rem 1.1rem rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      margin-top: -1.5rem; }
      @media only screen and (max-width: 78em) {
        .sidebar__help-btn {
          border: 8px solid #fff; } }
    .sidebar__help-icon {
      height: 1.4rem;
      width: 1.4rem;
      color: #000;
      padding-top: 0.2rem; }
    .sidebar__help-header {
      font-size: 1.4rem;
      font-family: sans-serif;
      color: #0e200c;
      margin-top: 2.8rem; }
    .sidebar__help-sold {
      font-size: 1rem;
      font-family: sans-serif;
      color: grey;
      text-align: center;
      padding: 0 1.6rem; }
    .sidebar__help-button {
      border: none;
      background-color: #fff;
      border-radius: 7px;
      font-size: 1rem;
      font-family: sans-serif;
      font-weight: 600;
      color: #000;
      padding: 1rem 2rem;
      margin: 1.2rem 0 1.8rem 0; }

.status {
  background-color: #fafafa;
  padding: 2rem 4rem 0 0; }
  @media only screen and (max-width: 50em) {
    .status {
      grid-column: 2 / span 2;
      padding: 2rem 4rem; } }
  .status__box {
    background-image: url(../img/back.jpg);
    background-size: cover;
    box-shadow: 0.8rem 1.5rem 3.1rem rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 3rem 0 2rem 3rem;
    margin-bottom: 5.6rem;
    height: 23%; }
    @media only screen and (max-width: 62.5em) {
      .status__box {
        height: 19%; } }
    @media only screen and (max-width: 50em) {
      .status__box {
        height: 28%;
        margin-bottom: 3.6rem; } }
    @media only screen and (max-width: 31em) {
      .status__box {
        height: 24%;
        margin-bottom: 3.6rem; } }
    .status__box-info {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between; }
    .status__box-text {
      display: flex;
      flex-direction: column;
      gap: 1.2rem; }
      @media only screen and (max-width: 31em) {
        .status__box-text {
          gap: 0.8rem; } }
    .status__box-time {
      display: flex;
      gap: 1rem; }
    .status__box-day {
      display: flex;
      flex-direction: column; }
      .status__box-day-header {
        font-size: 1rem;
        font-family: sans-serif;
        color: #000; }
      .status__box-day-sold {
        font-size: 1.3rem;
        font-weight: 600;
        font-family: sans-serif;
        color: #000; }
    .status__box-link {
      text-decoration: none;
      font-size: 1.2rem;
      color: #000;
      font-weight: 600; }
  .status__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem; }

.activity {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-bottom: 2rem; }
  .activity__box {
    display: grid;
    grid-template-columns: 4rem 5fr;
    gap: 0.6rem;
    align-items: center; }
  .activity__img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: 2px solid #fff; }
  .activity__header {
    display: flex;
    flex-direction: column;
    gap: 0.4rem; }
    .activity__header-box {
      display: flex;
      justify-content: space-between; }
    .activity__header-text {
      font-size: 1.3rem;
      font-family: sans-serif;
      color: #4d4d4d; }
    .activity__header-time {
      font-size: 1rem;
      font-family: sans-serif;
      color: #737373; }
    .activity__header-sold {
      font-size: 1rem;
      font-family: sans-serif;
      color: #737373; }
