// RESPONSIVE BREAKPOINTS
$bp-largest: 78em;     // 1250px
$bp-large: 62.5em;     // 1000px
$bp-medium: 50em;      // 800px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31em;    // 500px

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;  // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and(max-width: $bp-largest){
        font-size: 50%;
    }
}

body{
    color: #000;
    font-weight: 300;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 20rem 5fr 3fr;
    grid-template-rows: 8rem 8fr;

    @media only screen and (max-width: $bp-large){
        grid-template-columns: 6rem 5fr 3fr;
        grid-template-rows: 8rem 8fr;
    }

    @media only screen and (max-width: $bp-medium){
        grid-template-columns: 6rem 5fr;
        grid-template-rows: 14rem 8fr 6fr;
    }

    @media only screen and (max-width: $bp-small){
        display: flex;
        flex-direction: column;
    }
}